
.content {
    border: 5px solid #240c0c;
    margin: 10px;
    width: 780px;
    text-align: center;
    background-color: lavender;
    
  }
 
  img {height: 500px; width:500px;
  }
  

  
.first-item{
  border: 5px solid #240c0c;
}
.content .tagHover:hover {
  font-weight: bold;
  cursor: pointer;
}

.content .typeHover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tagHover:hover {
  border: 3px solid rgb(175, 234, 127);
  margin: 30px;
}

.firstCardTag {
  border-top: none;
}





