<p>add-content-dialog works!</p>



<div>
    <h1 mat-dialog-title>Add New Content</h1>
    <mat-dialog-content>
        <form class="newSongForm" (submit)="newContent()">
          
          <div>
            <mat-form-field appearance="fill">
              <mat-label for="id">ID</mat-label> 
              <input matInput type="text" id="id" name="id" [(ngModel)]="newContent.id">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label for="title">Title</mat-label> 
              <input matInput type="text" id="title" name="title" [(ngModel)]="newContent.title" required>
            </mat-form-field>
          </div>
    
          <div>
            <mat-form-field>
              <mat-label for="desc">Description</mat-label>
              <textarea matInput name="description" id="desc" cols="30" rows="4" [(ngModel)]="newContent.description" required></textarea>
            </mat-form-field> 
          </div>
    
          <div>
            <mat-form-field>
              <mat-label for="creator">Creator</mat-label>
              <input matInput type="text" id="creator" name="creator" [(ngModel)]="newContent.creator" required>
            </mat-form-field>
          </div>
          
          <div>
            <mat-form-field>
              <mat-label for="type">Type</mat-label>
              <input matInput type="text" id="type" name="type" [(ngModel)]="newContent.type">
            </mat-form-field>
          </div>
          
          <div>
            <mat-form-field>
              <mat-label for="img">Image Url</mat-label>
              <input matInput type="text" id="img" name="img" [(ngModel)]="newContent.image">
            </mat-form-field>
          </div>

          <div class="addBtn">
            <mat-dialog-actions>
                <button mat-raised-button mat-dialog-close color="accent">Close</button>
                <button mat-raised-button color="primary" [mat-dialog-close]="newContent" type="submit">Add Content </button>
            </mat-dialog-actions>
          </div>
        </form>
        
    </mat-dialog-content>
</div>