.content-card {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .first-card {
    border: 2px solid #000;
  }
  
  .card-header {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .card-body {
    margin-top: 10px;
  }
  
  img {
    width: 100%;
    cursor: pointer;
  }
  